body {
background-color: yellow;
color: Blue;
}

Table {
border-collapse: collapse;
float:left;
margin-top : 7%;
margin-left: 13%;
}
td {
border: White;
}

#MiseEnPage{
border : outset; 
border-width : 8px;
height: 50%;
width: 16%;
background-color: #A9A9A9;
font-family: Verdana, sans-serif;
color: black;
float:left;
margin-top : 12%;
margin-left: 5%;
border-color: Black;
}

h1{
float:left;
margin-left: -38%;
font-size: 40px;
}

marquee{
margin-top: 3%;
}

#Button2 {
font-size: 25px;
height: 15%;
width: 100%;
}